 ## Lists

Quick notes 
List = mutable 
Remove,pop,insert,append,extend,join,split,max,min,sum,sorted,sort 
Tuple= immutable 
Sets= used as membership checker 
Doesn't allow duplicate data 
Union, difference, intersection

In [1]:
courses = ['history','math','compscience','physics']
print(courses)

['history', 'math', 'compscience', 'physics']

In [2]:
print(len(courses))

4

In [3]:
print(courses[0])

history

In [4]:
print(courses[2])

compscience

In [5]:
print(courses[3])

physics

In [6]:
print(courses[-1])

physics

In [7]:
print(courses[0:2])

['history', 'math']

### first index is inclusive but last is not included

In [8]:
print(courses[:2])

['history', 'math']

In [10]:
print(courses[2:])#slicing

['compscience', 'physics']

### Adding item to a list

In [12]:
#append
courses.append('Art')
print(courses)

['history', 'math', 'compscience', 'physics', 'Art', 'Art']

In [14]:
#insert
#adding at a certain index
courses.insert(0,'Art')
print(courses)

['Art', 'Art', 'history', 'math', 'compscience', 'physics', 'Art', 'Art']

In [15]:
courses.pop()
print(courses)

['Art', 'Art', 'history', 'math', 'compscience', 'physics', 'Art']

In [16]:
courses_2 = ['geo','pol sci']
courses.insert(0,courses_2)

In [17]:
print(courses)

[['geo', 'pol sci'], 'Art', 'Art', 'history', 'math', 'compscience', 'physics', 'Art']

In [18]:
print(courses[0])

['geo', 'pol sci']

In [20]:
courses.extend(courses_2)
print(courses)

[['geo', 'pol sci'], 'Art', 'Art', 'history', 'math', 'compscience', 'physics', 'Art', 'geo', 'pol sci', 'geo', 'pol sci']

In [28]:
print(courses)

['history', 'math', 'compscience', 'physics', 'geo', 'pol sci']

In [29]:
courses.reverse()
print(courses)

['pol sci', 'geo', 'physics', 'compscience', 'math', 'history']

In [30]:
courses.sort()
print(courses)

['compscience', 'geo', 'history', 'math', 'physics', 'pol sci']

In [32]:
num = [1,6,4,5,3,2]
num.sort()

print(num)

[1, 2, 3, 4, 5, 6]

In [39]:
#to sort in descending order
num.reverse()

print(num)

[6, 5, 4, 3, 2, 1]

In [42]:

#to use reverse as an argument in sort
num.sort(reverse=True)

print(num)

[6, 5, 4, 3, 2, 1]

In [44]:
#all of these methods alter the original list. To not alter we need to use SORTED FUNCTION
sorted_cour = sorted(courses) # will not print we have to assign a new variable to extract value
print(sorted_cour)

['compscience', 'geo', 'history', 'math', 'physics', 'pol sci']

In [45]:
#min max sum function
print(min(num))
print(max(num))
print(sum(num))

1
6
21

In [47]:
# to find the index of an element
print(courses)
print(courses.index('math'))

['pol sci', 'physics', 'math', 'history', 'geo', 'compscience']
2

In [48]:
#to find the existence of an element in the list
print('pol sci' in courses)
print('Art' in courses)

True
False

In [50]:
#using for stat
for item in courses:
    print(item)

pol sci
physics
math
history
geo
compscience

In [51]:
#enumerate function

for item in enumerate(courses):
    print(item)

(0, 'pol sci')
(1, 'physics')
(2, 'math')
(3, 'history')
(4, 'geo')
(5, 'compscience')

In [52]:
for index, course in enumerate(courses):
    print(index, course)

0 pol sci
1 physics
2 math
3 history
4 geo
5 compscience

In [53]:
#starting from index 1
for index, course in enumerate(courses, start=1):
    print(index, course)

1 pol sci
2 physics
3 math
4 history
5 geo
6 compscience

In [54]:
#to convert list into comma separated values
#join function
courses_to_str = ', '.join(courses)    
print(courses_to_str)

pol sci, physics, math, history, geo, compscience

In [59]:
courses_to_str = ' - '.join(courses)    
print(courses_to_str)

#to split
new_list = courses_to_str.split(' - ')
    
print(new_list)

pol sci - physics - math - history - geo - compscience
['pol sci', 'physics', 'math', 'history', 'geo', 'compscience']

## Tuples and sets

In [61]:
#tuples are immutable & instead of square brackets we use parantheses()
tuples1 = ('history','math','compscience','physics')
tuples2 = tuples1

tuples1[0] = 'Art'

print(tuples1)
print(tuples2)

# will show 
#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [62]:
courses1 = ['history','math','compscience','physics']
courses2 = courses1

courses1[0] = 'Art'

print(courses1)
print(courses2)

['Art', 'math', 'compscience', 'physics']
['Art', 'math', 'compscience', 'physics']

### here we can't use the slicing and assignments but we can use it to extract by index the elements that we don't want to alter

## sets

In [65]:
#here we use the curly braces to declare  a set
# It doesn't care about order and one element exists only once in a set
set_1 = {'history','math','compscience','physics','math'}

print(set_1)

print('physics' in set_1)

{'physics', 'history', 'math', 'compscience'}
True

### it is used to perform membership test and is way too efficient than lists and tuples

In [67]:
set_1 = {'history','math','compscience','physics'}
set_2 = {'history','math','design','Art'}
print(set_1.intersection(set_2))

{'history', 'math'}

In [68]:
print(set_1.difference(set_2))

{'physics', 'compscience'}

In [69]:
print(set_1.union(set_2))

{'physics', 'design', 'math', 'compscience', 'history', 'Art'}

In [70]:
print(set_2.difference(set_1))

{'Art', 'design'}

### Creating empty set, list and tuples

In [71]:
empty_list = []
empty_list = list()

empty_tuple = ()
empty_tuple = tuple()

# empty_set = {} # this is not a correct way to create an empty set as it creates empty dictionaries
empty_set = set()